@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');
body {
    margin: 0;
    position: absolute;
    z-index: 9999;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

nav {
    position: fixed;
    width: 100%;
    padding: 5px 0;
    font-family: 'Comfortaa', cursive;
    background-color: #FFF;
}

nav .barra {
    width: 90%;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: space-between;
}

nav .barra .logo a {
    font-size: 40px;
    font-weight: 550;
    color: #CB6DD9;
    text-decoration: none;
}

nav .barra .logo img {
    width: 50px;
    height: 50px;
    margin-right: 15px;
}

.barra .redes a {
    font-size: 18px;
    margin: 0 6px;
    color: #CB6DD9;
}

.inicio {
    height: 100vh;
    width: 100%;
    background: url("imgs/pngtree-sweet-colorful-candy-poster-background-image_138317.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Comfortaa', cursive;
}

.inicio .conteudo-inicio {
    height: 100%;
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.inicio .texto .texto-um {
    font-size: 25px;
    margin: 0px 3px;
}

.inicio .texto .texto-dois {
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}

.inicio .texto .texto-tres {
    font-size: 40px;
}

.inicio .texto .texto-quatro {
    font-size: 23px;
    margin: 10px 3px;
}

.inicio .button {
    margin: 14px 0;
}

.inicio .button button {
    outline: none;
    color: #FFF;
    font-size: 15px;
    font-weight: 500;
    padding: 8px 16px;
    background: #CB6DD9;
    border: 2px solid transparent;
    border-radius: 5px;
    transition: all 0.4s ease;
    cursor: pointer;
}

.inicio .button button:hover {
    color: #CB6DD9;
    background-color: #FFF;
    border-color: #CB6DD9;
}

.modal-um {
    width: 500px;
    height: 300px;
    background-color: #FFF;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    animation: opacidade;
    animation-duration: 800ms;
    border-radius: 15px;
    border: 1px solid #CB6DD9;
}

.modal-um label {
    font-family: 'Comfortaa', cursive;
    font-size: 30px;
    font-weight: 600;
    top: 15%;
    left: 10%;
    position: absolute;
}

.modal-um #nome-input {
    outline: none;
    color: rgb(0, 0, 0);
    font-size: 30px;
    padding: 8px 16px;
    border: none;
    border-bottom: 2px solid black;
    font-family: 'Comfortaa', cursive;
    transition: all 0.4s ease;
    position: absolute;
    left: 10%;
    top: 30%;
}

@keyframes opacidade {
    from {
        opacity: 1;
    }
    from {
        opacity: 0;
    }
}

.fechar-modal-um {
    font-size: 25px;
    color: #CB6DD9;
    position: absolute;
    top: -8px;
    right: -8px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
}

.modal-um .button-modal-um button {
    outline: none;
    color: #FFF;
    font-size: 15px;
    font-weight: 500;
    padding: 8px 16px;
    background: #CB6DD9;
    border: 2px solid transparent;
    border-radius: 5px;
    transition: all 0.4s ease;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.modal-um .button-modal-um button:hover {
    color: #CB6DD9;
    background-color: #FFF;
    border-color: #CB6DD9;
}

.modal-dois {
    width: 500px;
    height: 300px;
    background-color: #FFF;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    animation: opacidade;
    animation-duration: 800ms;
    border-radius: 15px;
    border: 1px solid #CB6DD9;
}

.fechar-modal-dois {
    font-size: 25px;
    color: #CB6DD9;
    position: absolute;
    top: -8px;
    right: -8px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
}

.modal-dois .button-modal-dois button {
    outline: none;
    color: #FFF;
    font-size: 15px;
    font-weight: 500;
    padding: 8px 16px;
    background: #CB6DD9;
    border: 2px solid transparent;
    border-radius: 5px;
    transition: all 0.4s ease;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.modal-dois .button-modal-dois button:hover {
    color: #CB6DD9;
    background-color: #FFF;
    border-color: #CB6DD9;
}

.modal-dois .desktop h1 {
    font-family: 'Comfortaa', cursive;
    text-align: center;
    font-size: 30px;
    font-weight: 300;
}

.modal-dois .desktop p {
    font-family: 'Comfortaa', cursive;
    text-align: center;
    font-size: 15px;
    padding: 2px;
}

.modal-dois .mobile h1 {
    font-family: 'Comfortaa', cursive;
    text-align: center;
    font-size: 30px;
    font-weight: 300;
}

.modal-dois .mobile p {
    font-family: 'Comfortaa', cursive;
    text-align: center;
    font-size: 15px;
    padding: 2px;
}

.modal-dois .mobile img {
    height: 100px;
    text-align: center;
}

.mobile {
    text-align: center;
}

.modal-dois .desktop {
    display: block;
}

.modal-dois .mobile {
    display: none;
}

@media screen and (max-device-width: 768px) {
    .modal-dois .mobile {
        display: block;
    }
    .modal-dois .desktop {
        display: none;
    }
    .modal-dois {
        height: 350px;
    }
}